.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.SloganLogo {
    background: url('../DannyBuscemi.jpg');
    height: 100vh;
    width: 100%;
    opacity: 1;
    overflow: auto;
}

.SloganLogo .content {
    font-size: 50px;
    word-spacing: 50px;
    line-height:100px;
    position: absolute; /* Position the background text */
    top: 10%; /* At the bottom. Use top:0 to append it to the top */
    align-items: center;
    text-align: center;
    height:60%;
    background: rgba(0, 0, 0, .5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding-top: 15%; /* Some padding */
  }

  .Home_About {
      font-size: 50px;
  }