.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* About Home Page */
.container {
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
}

.content {
  position: absolute;
  justify-content: center;
  align-items: center;
}

.Parallax {
  width: 100%;
  display:block;
  background-attachment: fixed;
  background-size:  50% 100%;
}

.DannyImage {
  opacity:0.6;
  width:100%;
  height:50em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.SlogoLogan {
  top: 8em;
  font-size: 50px;
  text-align: center;
  align-items: center;
  width:100%;
}

.imgContainer {
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 30em;
}

.FireFighterImage {
  background-image:url('../firefighter.jpg');
}

.SteveDevito {
  background-image:url('../SteveDevito.jpg');
}

.AboutHome {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height:auto;
  font-size: 18px;
  color:white;
  width:auto;
  background-color: black;
  opacity: 1;
}

/* Location Home Page */ 
.HomeLocation {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 20em;
  margin: 20px 10px;
  width:100%;
}

.GoogleMapsHome {
  width:40%;
}

.HoursContainer {
  width:40%;
  text-align: center;
}

.HoursHeader {
  position: static;
  font-size:25px;
  font-weight: 900;
}

.HoursContent {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  height:100%;
  justify-content: space-evenly;
}
